version: '2.3'
services:
  kato_elecpy:
    runtime: nvidia
    build:
      context: ./
    image: chenaoki/elecpy 
    container_name: kato_elecpy
    ports:
      - "27900:8888"
    volumes:
      - ../:/notebooks
      - /mnt:/mnt

